discord.py==2.4.0
python-dotenv==1.0.1
google-generativeai
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

discord.py==2.4.0
python-dotenv==1.0.1
langgraph==0.2.35
langchain-core==0.3.15
langchain-google-genai==2.0.7
google-generativeai==0.8.3
pydantic==2.9.2
typing-extensions==4.12.2